apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
  namespace: siva-ns
spec:
  replicas: 5
  serviceName: "mongo"
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017
          volumeMounts:
            - mountPath: /data/db
              name: mongo-data
          env:
            - name: MONGO_INITDB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: vegetable-app-config
                  key: MONGO_INITDB_DATABASE
  volumeClaimTemplates:
    - metadata:
        name: mongo-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: retail-sc
        resources:
          requests:
            storage: 1Gi
